/*--------------------------------------------------------------
Cursos
--------------------------------------------------------------*/
#banner{
  margin-top: -60px;
  margin-left: -409px
}

#banner::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 79%;
  background: rgba(255, 255, 255, 0.415);
  z-index: 9;
}

.curso {
  width: 100.4%;
  align-content: center;
  text-align: center;
  background-color: #fff;
  height: 135%;
  max-height: max-content;
  max-width: 101%;
  margin-left: -8px;
  margin-top: -70px;
  padding-right: 10px;
  vertical-align: middle;
  background-size: cover;
  background-repeat: no-repeat;
}

.column-3 {
  float: left;
  width: 30%;
  max-width: 100%;
  margin-left: 7%;
  margin-right: -7%;
  margin-top: 0.5%;
  padding-top: 30px;
  height: 100%; /*300px Should be removed. Only for demonstration */
  border-radius: 5%;
  border: #df203a solid 2px;
}
  
.title-curso{
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  letter-spacing: .2rem;
  /*lienea de abajo*/
  border-bottom: #df203a solid 2px;
  width: 510px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 90px;
}
  
.title-curso span{
  color: #df203a;
  font-size: 3.5rem;
}
  
.curso p{
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 10px;
  padding: 0 100px;
  margin-bottom: 15px;
}
  
  /*Effects in the images*/
.container-fade {
  position: relative;
  height: auto;
  /*width: 50%;*/
}
  
.image-fade {
  opacity: 1;
  display: block;
  width: 100%;
  height: 300px;
  transition: .5s ease;
  backface-visibility: hidden;
}
  
  /*ocultar el text y moverlo*/
.middle-fade{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
  
.container-fade:hover .image-fade {
  opacity: 0.3;
}
  
.container-fade:hover .middle-fade {
  opacity: 1;
}
  
.text-fade a{
  text-decoration: none;
  color: white;
  font-size: 13px;
  padding: 16px 32px;
  background-color: #df203a;
  border-radius: 10%;
  background-size: fixed;
}