footer{
    width: 120%;
    height: 10vh;
    align-content: center;
    text-align: center;
    background-color: #1d1d1d;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: -7px;
    margin-left: -8px;
    margin-right: 8px;
    max-width: 101%;
    font-size: 13px;
}

footer h3{
    padding-top: 20px;
    color: white;
    margin-bottom: 0px;
}

footer h3 span{
    color: #ee5555;
}

footer p{
    padding-bottom: 15px;
    color: white;
}