#banner{
    margin-top: -60px;
    margin-left: -409px
}

#banner::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 80%;
    background: rgba(255, 255, 255, 0.415);
    z-index: 9;
}

.latex {
    width: 100%;
    align-content: center;
    text-align: center;
    background-color: #fff;
    height: 50%;
    margin-left: -8px;
    margin-top: -70px;
    padding-right: 10px;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    align-items: center;
    align-content: center;
    margin-top: 5px;
    border-radius: 2%;
    height: max-content;
}

.title-latex{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    letter-spacing: .2rem;
    /*lienea de abajo*/
    border-bottom: #df203a solid 2px;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
    
.title-latex span{
    color: #df203a;
    font-size: 3.5rem;
}

.sub-title{
    padding-top: 1%;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    color: #000;
    letter-spacing: .2rem;
    margin-left: 2%;
}

.sub-title span{
    color: #df203a;
    font-size: 3.5rem;
}

.column-2 {
    float: left;
    width: 42%;
    padding-top: -10%;
    padding-left: 80px;
    height: auto; /*300px Should be removed. Only for demonstration */
    /*border-radius: 5%;*/
}

.prof-box{
    align-items: center;
    align-content: center;
    padding: 30px 10px;
    border-radius: 2%;
    height:450px;
}

.column-3 {
    float: left;
    width: 100%; 
    height: auto; /*300px Should be removed. Only for demonstration */
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.column-3 img{
    height: 180px;
    width: 180px;
    align-content: center;
    border-radius: 50% 50%;
    border: #df203a solid 3px;
}

.column-3 p{
    font-size: 1.3rem;
    margin-top: 0;
}

.column-2 h2{
    color: #df203a;
    font-size: 1.5rem;
    font-weight: 600;
    left: .2rem;
    margin-bottom: 2px;
}

.latex-img img{
    width: 50%;
    height: 50%;
    left: 10%;
}

.latex-img {
    left: 10%;
	height: 40%;
	width: 60%;
    position: relative;
    margin: 20px;
}

.latex-description, .horario{
    padding-top: 10px;
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 300;
    color: #000;    
}