/*--------------------------------------------------------------
PEOPLE
--------------------------------------------------------------*/
#banner{
    margin-top: -70px;
    margin-left: -409px
}

#banner::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 81%;
    background: rgba(255, 255, 255, 0.415);
    z-index: 9;
}

.people {
    width: 100%;
    align-content: center;
    text-align: center;
    background-color: #fff;
    height: max-content;
    max-width: 100%;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
}

hr{
    border: 1px solid #df203a;
    margin: 20px;
}

.title-dir{
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    letter-spacing: .2rem;
    /*lienea de abajo*/
    border-bottom: #df203a solid 2px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}
  
.title-dir span{
    color: #df203a;
}

.sub-title{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    color: #000;
    letter-spacing: .2rem;
    text-align: left;
}

.sub-title span{
    color: #df203a;
    font-size: 3rem;
}

/*-------------------------*/
/*start adviser section*/
/*-------------------------*/
.adv-box{
    align-items: center;
    align-content: center;
    padding: 30px 10px;
    padding-top: 10px;
    border-radius: 2%;
    height: 600px;
}

.column-2 {
    float: left;
    width: 40%;
    padding-top: -10%;
    padding-left: 80px;
    height: auto; /*300px Should be removed. Only for demonstration */
    /*border-radius: 5%;*/
}
.adv-img img{
    width: 100%;
    height: 100%;
    left: 10%;
}

.adv-img {
    left: 10%;
	height: 60%;
	width: 60%;
    position: relative;
    margin: 20px;
}

.adv-img::after {
	content: '';
    position: absolute;
	left: -10%;
	top: 6%;
	height: 100%;
	width: 98%;
	border: 10px solid #df203a;
	z-index: -1;
}

.adv-title{
    padding-top: 8%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: #000;
    letter-spacing: .2rem;
    padding-bottom: 10px;
}

.adv-title span{
    color: #df203a;
}

.adv-description{
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 300;
    color: #000;    
}

/*boton*/
.btn {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #df203a;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

/*-------------------------*/
/*start directiva section*/
/*-------------------------*/
.dir-box{
    background-color: #ddd;
    align-items: center;
    align-content: center;
    margin: 10px; /*Todo lo de a fuera*/
    padding: 10px 30px; /*Todo lo de a dentro*/
    border-radius: 2%;
    height: 1000px;
}

.presi{
    left: 43%;
    position: relative;
    padding-top: 20px ;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 11.5%;
}

.presi h2{
    color: #df203a;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 30px;
    margin-bottom: 3px;
}

.presi img{  
    align-content: center;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: #df203a solid 3px;
}

.presi p{
    padding-left: 40px;
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 15px;
}

.column-3 {
    float: left;
    width: 30%;
    padding: 10px 15px; 
    height: auto; /*300px Should be removed. Only for demonstration */
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.column-3 h2{
    color: #df203a;
    font-size: 1.5rem;
    font-weight: 600;
    left: .2rem;
    margin-bottom: 2px;
}

.column-3 img{
    height: 180px;
    width: 180px;
    align-content: center;
    border-radius: 50% 50%;
    border: #df203a solid 3px;
}

.column-3 p{
    font-size: 1.3rem;
    margin-top: 0;
}
/*-----------------------*/
/*End directiva section*/
/*-----------------------*/

/*-----------------------*/
/*Start miembros section*/
/*-----------------------*/
.mem-box{
    align-items: center;
    align-content: center;
    margin-top: 5px;
    padding: 10px 30px; /*Todo lo de a dentro*/
    border-radius: 2%;
    height: auto;
}

table{
    margin: 0 auto;
    border: none;
}

td{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    border: none;
    padding: 2%;
    width: 20%;
}