/*--------------------------------------------------------------
Cursos
--------------------------------------------------------------*/
.curso {
    width: 100%;
    padding: 15px 40px; /*(arriba, a los lados)*/
    align-content: center;
    text-align: center;
    background-color: #ddd;
    height: 120vh;
    max-width: 95.7%;
    margin-left: -8px;
    vertical-align: middle;
    background-size: cover;
      background-repeat: no-repeat;
  }
  
  .column-3 {
    float: left;
    width: 30%;
    padding: 20px 10px; /*10px*/
    height: 300px; /*300px Should be removed. Only for demonstration */
    border-radius: 5%;
    border: #ee5555 solid 2px;
  }
  
  .title-curso{
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    letter-spacing: .2rem;
    /*lenea de abajo*/
    border-bottom: #ee5555 solid 2px;
    width: 510px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .title-curso span{
    color: #ee5555;
  }
  
  .curso p{
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 10px;
    padding: 0 100px;
    margin-bottom: 15px;
  }
  
  /*Effects in the images*/
  .container-fade {
    position: relative;
    height: auto;
    /*width: 50%;*/
  }
  
  .image-fade {
    opacity: 1;
    display: block;
    width: 100%;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  /*ocultar el text y moverlo*/
  .middle-fade{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container-fade:hover .image-fade {
    opacity: 0.3;
  }
  
  .container-fade:hover .middle-fade {
    opacity: 1;
  }
  
  .text-fade a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    background-color: #ee5555;
    border-radius: 10%;
    background-size: fixed;
  }