/*--------------------------------------------------------------
INTRO
--------------------------------------------------------------*/
.mySlides {
  display: none; /*ocultar toda la clase*/
}
  
/*all relacionado with images slide*/
.slideshow-container img {
  width: 150%; /*horizontal*/
  vertical-align: middle;
  height: 100vh;/*vertical*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 101%;
  margin: -8px;
}
  
.slideshow-container ol li {
  list-style: none;
}
  
/* Slideshow container */
.slideshow-container {
  max-width: 120%;
}
  
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #df203a;
  font-weight: bold;
  font-size: 50px;
  transition: 0.4s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: transparent;
    color: white;
  }
  
  /* Caption text */
  .text {
    top: 45%;
    left: 35%;
    color: #df203a;
    font-size: 80px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    background-color: transparent;
  }
  
  /* The dots/bullets/indicators */
  .pagination {
    position: absolute;
    top: 93%;
    left: 42%;
    display: flex;
    justify-content: center;
  }
  
  .pagination li {
    margin-left: 5px;
  }
  
  /*circle or square (height, width and border-radios 
  podemos armar la figura q deseemos)*/
  .dot {
    cursor: pointer;
    height: 7px;
    width: 40px;
    margin: 0 2px;
    background-color: #df203a;
    border-radius: 30%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171; /*#717171 (gris chevere)*/
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 700px){
    header{
        padding: 20px 40px;
    }
  
    .slideshow-container img {
      height: 60vh;/*vertical*/
    }
  
    /* Next & previous buttons */
    .prev, .next {
      top: 40%;
      font-size: 40px;
    }
  
    /* Caption text */
    .text {
      top: 38%;
      left: 15%;
      font-size: 40px;
    }
  
    /* The dots/bullets/indicators */
    .pagination {
      left: 35%;
    }
  
    .dot {
      height: 15px;
      width: 15px;
    }
  
  }
/*--------------------------------------------------------------
General text body
--------------------------------------------------------------*/

.text-body{
  max-width: 120%;
  background-color: #ffff;
}

/*--------------------------------------------------------------
ABOUT SECTION
--------------------------------------------------------------*/
/*Start about us section*/
#about {
  padding: 30px 15px;
  align-content: center;
  text-align: center;
}

/*text config*/
.title-about{
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  letter-spacing: .2rem;
  /*lenea de abajo*/
  border-bottom: #df203a solid 2px;
  width: 810px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/*color para la primera columna*/
.co{
  background-color: #df203a;
  color: blanchedalmond;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create two equal columns that floats next to each other */
.column-2 {
  float: left;
  width: 40%;
  padding: 20px 10px; /*10px*/
  height: auto; /*300px Should be removed. Only for demonstration */
  border-radius: 5%;
}

.title-about span{
  color: #df203a;
}

#about .column-2 h2{
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 8px;
  letter-spacing: .1rem;    
}

#about .column-2 p{
  font-size: 1.2rem;
  font-weight: 200;
}

.vid{
  margin-top: -18px;
  height: auto;
}

#about .btn-leer-mas{
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #df203a;
  text-decoration: none;
}

/*--------------------------------------------------------------
SERVICES SECTION
--------------------------------------------------------------*/
#services{
  width: 300%;
  padding: 15px 40px; /*(arriba, a los lados)*/
  align-content: center;
  text-align: center;
  background-color: #ddd;
  height: 90%;
  max-width: 95.7%;
  margin-left: -8px;
  vertical-align: middle;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-services{
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  letter-spacing: .2rem;
  /*linea de abajo*/
  border-bottom: #df203a solid 2px;
  width: 810px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#services .title-services span{
  color: #df203a;
}

#services a{
  text-decoration: none;
}

#services .container {
  position: absolute;
  z-index: 10;
}

#services .service-col {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
  height: 70vh;
  margin-top: -20px;
  margin-right: 10px;
}

#services .service-col .img {
  position: relative;
}

#services .service-col .img img {
  border-radius: 4px 4px 0 0;
}

#services .service-col .icon img {
  width: 65px;
  height: 65px;
  padding-top: auto;
  text-align: center;
  position: absolute;
  background-color: #df203a;
  border-radius: 50%;
  text-align: center;
  border: 4px solid #ffff;
  left: calc(50% - 32px);
  bottom: -30px;
  transition: 0.3s;
}

#services .service-col .icon img img{
  position: absolute;
}

#services .service-col:hover .icon {
  background-color: #fff;
}

#services .service-col-col:hover i {
  color: #df203a;
}

#services .service-col h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 40px 0 12px 0;
}

#services .service-col h2 a {
  color: #000;
}

#services .service-col h2 a:hover {
  color: #df203a;
}

#services .service-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 20px 20px;
}



#services .col-md-3{
  float: right;
  width: 26%;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 65px;  /*65px*/
  /*padding: 10px 60px; /*10px*/
  height: 50%; /*300px Should be removed. Only for demonstration */
}

#services .btn-ver-mas{
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #df203a;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}